.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.dark {
    background-color: rgb(56, 109, 151);
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-grow: 1;
}